.header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    border: 1px solid black;
}

.header h3 {
    font-family: 'Staatliches', cursive;
    font-weight: bold;
} 

.red {
    color: red;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.brand {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.logo {
    height: 2rem;
    width: 5rem;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.link {
    font-size: larger;
    color: black;
    text-decoration: none;
}

.link:hover {
    font-size: x-large;
    color: blue;
}

/* @media ( max-width: 480px ){
    .header {
        display: flex;
        align-items: center;
        height: 8rem;
        border: 1px solid black;
    }

    .wrap {
        width: 50%;
        margin-left: 2rem;
    }

    .brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75%;
    }

    .logo {
        width: 30%;
    }
} */

